* {
  margin: 0 auto 0 auto;
  width: 960px;
}

ul {
  background: #29516D;
  padding: 10px;
}

ul li {
  text-align: center;
  background: #000000;
  padding: 2px;
  border: solid 1px grey;
  display: inline;
}

body {
  font-family:  Verdana, Geneva, Arial, Helvetica, sans-serif;
  background: #29516D url('../images/blokje.jpg') repeat;
}


header {
  background-image: url(file:///C:/Users/ryanl/Desktop/Code/Headervoorwebsite.jpg);
  width: 960px;
  height: 150px;

}
section article {
  border: 2px solid black;
  border-radius: 0px 0px 0px 0px;
  margin: 5px 10px 1px 10px;
  padding: 2px;
  background: #6488A4;
}

footer {
  background: grey;
}

footer h4 {
  text-align: center;
  font-weight: normal;
  font-size: 90%;
}
