* {
  margin: 0 auto 0 auto;
  width: 940px;
}

ul {
  background: black;
  padding: 10px;
}

ul {
  background: #29516D;
  padding: 10px;
}

ul li {
  text-align: center;
  background: #000000;
  padding: 2px;
  border: solid 1px grey;
  display: inline;
}

body {
  font-family:  Verdana, Geneva, Arial, Helvetica, sans-serif;
  background: #29516D url('../images/blokje.jpg') repeat;
}


header {
  background-image: url(file:///C:/Users/ryanl/Desktop/Code/Headervoorwebsite.jpg);
  width: 960px;
  height: 150px;

}

#groen {
  height: 250px;
  width: 250px;
  background-color: green;
  position: absolute;
  top: 400px;
  left: 650px;
  z-index: 6;
}

#rood {
  height: 200px;
  width: 200px;
  background-color: red;
  position: absolute;
  top: 300px;
  left: 500px;
  z-index: 5;
}

#blauw {
  height: 200px;
  width: 200px;
  background-color: blue;
  position: absolute;
  top: 545px;
  left: 795px;
  z-index: 5;
}

#geel {
  height: 250px;
  width: 250px;
  background-color: yellow;
  position: absolute;
  top: 300px;
  left: 500px;
  z-index: 4;
}

#zwart {
  height: 450px;
  width: 500px;
  background-color: black;
  position: absolute;
  top: 300px;
  left: 500px;
  z-index: 0;
}
